{% with r = infoUsuario %}
<div class="u-container-layout u-container-layout-1">
  <input type="hidden" id="idUsuario" name="idUsuario" value="{{r.idUsuario}}" >
  <p class="u-text u-text-default u-text-1">Esta seguro que desea eliminar el registro de "{{r.nombre}}"?</p>
  <a href="https://nicepage.com/c/product-list-website-templates" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1" name="rta" value="SI">SI</a>
  <a href="https://nicepage.com/c/product-list-website-templates" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-2" name="rta" value="NO">NO</a>
</div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8cfb"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-8cfb"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
{% endwith %}
